Repository sergeimlk/GymArtMicroSass: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint-client, typecheck-client, check-structure

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true
  fail_text: ‚ùå Prettier formatting failed. Please check the output above.

eslint-client:
  run: cd client && npx eslint --fix {staged_files} --no-error-on-unmatched-pattern
  stage_fixed: true
  fail_text: ‚ùå ESLint client failed. Please fix the linting errors above.

typecheck-client:
  run: cd client && npx tsc --noEmit
  fail_text: ‚ùå TypeScript check failed. Please fix the type errors above.

check-structure:
  run: "if [ ! -d \"api\" ] || [ ! -d \"client\" ]; then\n  echo \"‚ùå Structure monorepo manquante (api/ et client/ requis)\"\n  exit 1\nfi\necho \"‚úÖ Structure monorepo valid√©e\"\n"

🐳 feat: implement complete dockerization for Issue #8
  .gitignore
  DOCKER.md
  api/Dockerfile
  client/Dockerfile
  commitlint.config.js
  compose.yml
  docker-test.sh
  issues.md
Due: check-structure

🧪 test: add file with linting errors to test hooks
  test-lint-errors.js
Due: check-structure

🧪 test: add API file with linting errors to test hooks
  api/.eslintrc.json
  api/.prettierrc
  api/package.json
  api/src/test-errors.js
  client/.prettierrc
  client/package.json
  lefthook.yml
Due: prettier, check-structure

🧹 feat: implement complete ESLint, Prettier and Git hooks for Issue #9
  LINTING.md
  api/package-lock.json
  api/src/test-errors.js
  client/package-lock.json
  test-lint-errors.js
Due: prettier, check-structure

🛡️ feat: implement comprehensive security hardening for Issue #10
  .env.example
  LINTING.md
  SECURITY.md
  api/package-lock.json
  api/package.json
  api/src/index.js
Due: prettier, check-structure

🛡️ feat: implement security hardening and protection
  client/tsconfig.json
Due: prettier, check-structure

🔧 fix: resolve linting errors and security vulnerabilities
  client/package-lock.json
  client/package.json
Due: prettier, check-structure

🔧 fix: resolve all linting errors and ESLint configuration
  api/src/index.js
  client/.eslintrc.json
  client/next-env.d.ts
Due: prettier, check-structure

fix(e2e): resolve TypeScript type narrowing issue in API response handling
  api/package.json
  api/src/health.integration.test.js
  client/e2e/api-integration.spec.js
  client/e2e/health-check.spec.js
  client/package-lock.json
  client/package.json
  client/playwright-report/index.html
  client/playwright.config.js
  client/tsconfig.tsbuildinfo
  package-lock.json
  package.json
Due: prettier, eslint-client, check-structure

📄docs: complete comprehensive documentation for issue #12
  API_DOCUMENTATION.md
  QUICKSTART.md
  README.md
  validate-setup.sh
Due: check-structure

style: fix linting and formatting issues
  API_DOCUMENTATION.md
  DOCKER.md
  LINTING.md
  QUICKSTART.md
  README.md
  SECURITY.md
  api/src/db.js
  client/playwright-report/index.html
  client/postcss.config.js
  client/src/app/globals.css
  client/src/app/layout.tsx
  client/src/app/page.tsx
  client/tailwind.config.js
  commitlint.config.js
  compose.yml
  issues.md
  lefthook.yml
Due: prettier, eslint-client, typecheck-client, check-structure

fix: add --forceExit to Jest to prevent hanging tests
  api/package.json
Due: prettier, check-structure

fix: separate unit and integration tests for CI/CD compatibility
  api/package.json
  api/src/health.integration.test.js
Due: prettier, check-structure

🔧chore: enforce emoji-first commit convention
  CI_CD.md
  COMMIT_CONVENTIONS.md
  README.md
  client/tsconfig.tsbuildinfo
  commitlint.config.js
Due: check-structure

add test file
  test.txt
Due: check-structure

🔧chore: simplify commitlint config for emoji support
  lefthook.yml
  test.txt
Due: check-structure

add test file without emoji
  test2.txt
Due: check-structure

🔧chore: implement custom commit message validation
  lefthook.yml
  scripts/validate-commit-msg.js
  test2.txt
Due: prettier, check-structure

🔧chore: finalize emoji commit validation system
  commitlint.config.js
  scripts/validate-commit-msg.js
Due: prettier, check-structure

👷ci: add GitHub Actions CI/CD workflow configuration
  .github/workflows/ci.yml
Due: prettier, check-structure

💅style: fix linting errors and add validation script
  validate-all-criteria.sh
Due: check-structure

✅chore: finalize all performance criteria validation
  validate-all-criteria.sh
Due: check-structure

🔧fix: resolve ESLint/Prettier conflicts and eliminate linting errors
  api/.eslintrc.json
  api/package.json
  client/playwright-report/index.html
  client/test-results/.last-run.json
  package-lock.json
Due: prettier, check-structure

🚀feat: add production deployment configuration
  .env.production
  DEPLOYMENT_GUIDE.md
  PRODUCTION_READY.md
  api/package.json
  api/src/index.js
  client/vercel.json
  render.yaml
  test-production.sh
  vercel.json
Due: prettier, check-structure

🐛fix: resolve SSL connection issue for local PostgreSQL
  api/Dockerfile
  api/src/index.js
  client/playwright-report/index.html
  client/test-results/.last-run.json
Due: prettier, check-structure

🐛fix: add database connection debugging for Render deployment
  api/package.json
  api/src/index.js
  render.yaml
Due: prettier, check-structure

🔧chore: temporarily remove GitHub workflow for deployment
  .github/workflows/ci.yml
Due: prettier, check-structure

🐛fix: improve PostgreSQL connection for Render production
  api/src/index.js
Due: prettier, check-structure

🔧chore: add environment variables diagnostic script
  api/package.json
  debug-env.js
Due: prettier, check-structure

🔧chore: improve database connection debugging
  api/src/index.js
Due: prettier, check-structure

🐛fix: improve PostgreSQL connection configuration
  api/src/index.js
Due: prettier, check-structure

🔧chore: add advanced database connection diagnostics
  api/src/index.js
Due: prettier, check-structure

🔧chore: enhance error diagnostics for PostgreSQL connection
  api/src/index.js
Due: prettier, check-structure

🐛fix: configure DATABASE_URL with proper SSL for Render PostgreSQL
  .env.local
  api/src/index.js
  test-render-db.js
Due: prettier, check-structure

Path conditions:
  prettier: any of: **/*.{js,jsx,ts,tsx,css,md,json,yml,yaml}
  eslint-client: any of: client/**/*.{js,jsx,ts,tsx}
  typecheck-client: any of: client/**/*.{ts,tsx}
  check-structure: any of: *
